:root {
  --background-color: #303446;
  --text-color: #c6d0f5;
  --subtext-color-1: #b5bfe2;
  --lavender: #babbf1;
  --blue: #8caaee;
  --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --sapphire: #85c1dc;
  --sky: #99d1db;
  --muave: #ca9ee6;
  --pink: #f4b8e4;
}

html {
  background-color: var(--background-color);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  color: var(--text-color);
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

a {
  color: var(--blue);
}

h1 {
  color: var(--subtext-color-1);
}
h3 {
  color: var(--lavender);
}

h4 {
  color: var(--lavender);
}
